.view{
    .get-contact{
        background-color: rgb(74, 121, 31);
        padding: 15px 20px;
        width: fit-content;
        color: white;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 20px;
    }
}